{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block cart_content %}
<div class="container my-5">
    <div class="row w-100">
        <div class="col-lg-12">
            <div class="box-element mb-4">
                
            </div>

            <div class="row">
                {% for product in products %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="box-element product h-100 shadow-sm border-0">
                        <img class="thumbnail w-100" src="{{product.ImageURL}}" style="height: 350px; object-fit: cover;">
                        <div class="p-3">
                            <h6 class="text-truncate"><strong>{{product.name}}</strong></h6>
                            <hr>
                            <h5 class="mt-3 text-danger text-end"><strong>{{ product.final_price|floatformat:0|intcomma }} VND</strong></h5>
                            <a href="{% url 'detail' product.id %}" class="btn btn-outline-primary w-100 fw-bold">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12 text-center py-5">
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock cart_content %}